{{ define "system/user/user_edit.html" }}
<div class="ibox float-e-margins">
	<div class="ibox-content">
		<div class="form-horizontal bv-form" id="userInfoForm" novalidate="novalidate">
			<button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
			<input type="hidden" id="id" value="{{ .user.ID }}">
			<input type="hidden" id="sexValue" value="{{ .user.Sex }}">
			<div class="row">
				<div class="col-sm-6 b-r">
					<div class="form-group has-feedback">
						<label class="col-sm-3 control-label">账户</label>
						<div class="col-sm-9">
							<input class="form-control" id="account" name="account" value="{{ .user.Account }}" type="text" data-bv-field="account">
							<i class="form-control-feedback" data-bv-icon-for="account" style="display: none;"></i>
							<small class="help-block" data-bv-validator="notEmpty" data-bv-for="account" data-bv-result="NOT_VALIDATED" style="display: none;">账户不能为空</small>
						</div>
					</div>
					<div class="hr-line-dashed"></div>
					<div class="form-group">
						<label class="col-sm-3 control-label">性别</label>
						<div class="col-sm-9">
							<select class="form-control" id="sex" name="sex">
								<option value="1" {{ if eq .user.Sex 1 }} selected {{end}}>男</option>
								<option value="2" {{ if eq .user.Sex 2 }} selected {{end}}>女</option>
							</select>
						</div>
					</div>
					<div class="hr-line-dashed"></div>
					<div class="form-group">
						<label class="col-sm-3 control-label">角色</label>
						<div class="col-sm-9">
							<input class="form-control" id="roleid" name="roleid" value="{{ .roleName }}" type="text" disabled="disabled">
						</div>
					</div>
					<div class="hr-line-dashed"></div>
					<div class="form-group has-feedback">
						<label class="col-sm-3 control-label">邮箱</label>
						<div class="col-sm-9">
							<input class="form-control" id="email" name="email" value="{{ .user.Email }}" type="email" data-bv-field="email">
							<i class="form-control-feedback" data-bv-icon-for="email" style="display: none;"></i>
							<small class="help-block" data-bv-validator="emailAddress" data-bv-for="email" data-bv-result="NOT_VALIDATED" style="display: none;">请输入有效的邮件地址</small>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div id="driverInfoContent">
						<div class="form-group has-feedback">
							<label class="col-sm-3 control-label">姓名</label>
							<div class="col-sm-9">
								<input class="form-control" id="name" name="name" value="{{ .user.Name }}" type="text" data-bv-field="name">
								<i class="form-control-feedback" data-bv-icon-for="name" style="display: none;"></i>
								<small class="help-block" data-bv-validator="notEmpty" data-bv-for="name" data-bv-result="NOT_VALIDATED" style="display: none;">姓名不能为空</small>
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="form-group">
							<label class="col-sm-3 control-label">出生日期</label>
							<div class="col-sm-9">
								<input class="form-control" id="birthday" name="birthday" value="{{ .birthday }}" type="date" onclick="laydate({istime: false, format: 'YYYY-MM-DD'})">
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="form-group has-feedback">
							<label class="col-sm-3 control-label">部门</label>
							<div class="col-sm-9">
								<input class="form-control" id="citySel" name="citySel" value="战略部" type="text" readonly="readonly" onclick="UserInfoDlg.showDeptSelectTree(); return false;"
								 style="background-color: #ffffff !important;" data-bv-field="citySel">
								<i class="form-control-feedback" data-bv-icon-for="citySel" style="display: none;"></i>
								<input class="form-control" type="hidden" id="deptid" value="{{ .user.DeptID }}">
								<small class="help-block" data-bv-validator="notEmpty" data-bv-for="citySel" data-bv-result="NOT_VALIDATED" style="display: none;">部门不能为空</small>
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="form-group">
							<label class="col-sm-3 control-label">电话</label>
							<div class="col-sm-9">
								<input class="form-control" id="phone" name="phone" value="{{ .user.Phone }}" type="text">
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- 这是部门选择的下拉框 -->
			<div id="menuContent" class="menuContent" style="display: none; position: absolute; z-index: 200;">
				<ul id="treeDemo" class="ztree tree-box" style="width: 249px !important;">
				</ul>
			</div>

			<div class="row btn-group-m-t">
				<div class="col-sm-10">
					<button type="button" class="btn btn-info " onclick="UserInfoDlg.editSubmit()" id="ensure">
						<i class="fa fa-check"></i>&nbsp;提交
					</button>
					<button type="button" class="btn btn-danger " onclick="UserInfoDlg.close()" id="cancel">
						<i class="fa fa-eraser"></i>&nbsp;取消
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/public/modular/system/user/user_info.js"></script> {{ end }}