{{ define "system/user/user_edit.html" }}
<div class="ibox float-e-margins">
	<div class="ibox-content">
		<div class="form-horizontal" id="userInfoForm">
			<input type="hidden" id="id" value="{{ .user.Id }}">
			<input type="hidden" id="sexValue" value="{{ .user.Sex }}">
			<div class="row">
				<div class="col-sm-6 b-r">
					<div class="input-group">
						<div class="input-group-addon">账户</div>
						<input type="text" class="form-control" name="account" id="account" value="{{ .user.Account }}" placeholder="账户">
					</div>
					<div class="hr-line-dashed"></div>
					<div class="input-group">
						<div class="input-group-addon">性别</div>
						<select id="sex" name="sex" class="form-control" value="{{ .user.Sex }}">
							<option value="1" {{ if eq .user.Sex 1 }} selected {{end}}>男</option>
							<option value="2" {{ if eq .user.Sex 2 }} selected {{end}}>女</option>
						</select>
					</div>
					<div class="hr-line-dashed"></div>	
					<div class="input-group">
						<div class="input-group-addon">角色</div>
						<input type="text" class="form-control" disabled name="rolename" id="rolename" value="{{ .roleName }}" placeholder="角色">
					</div>
					<div class="hr-line-dashed"></div>	
					<div class="input-group">
						<div class="input-group-addon">邮箱</div>
						<input type="email" class="form-control" name="email" id="email" placeholder="邮箱" value="{{ .user.Email }}">
					</div>
				</div>
				<div class="col-sm-6">
					<div id="driverInfoContent">
						<div class="input-group">
							<div class="input-group-addon">姓名</div>
							<input type="text" class="form-control" name="name" value="{{ .user.Name }}" id="name" placeholder="姓名" >
						</div>
						<div class="hr-line-dashed"></div>	
						<div class="input-group">
							<div class="input-group-addon">出生日期</div>
							<input type="text" class="form-control" name="birthday" value="{{ .user.Birthday }}"  id="birthday" placeholder="出生日期">
						</div>
						<div class="hr-line-dashed"></div>	
						<div class="input-group">
							<div class="input-group-addon">部门</div>
							<input type="text" class="form-control" readonly="readonly" name="citySel" id="citySel" onclick="UserInfoDlg.showDeptSelectTree(); return false;" placeholder="部门" style="background-color: #ffffff !important;">
						</div>
						<div class="hr-line-dashed"></div>	
						<div class="input-group">
							<div class="input-group-addon">电话</div>
							<input type="text" class="form-control" name="phone" id="phone" placeholder="电话" value="{{ .user.Phone }}">
						</div>
					</div>
				</div>
			</div>

			<!-- 这是部门选择的下拉框 -->
			<div id="menuContent" class="menuContent"
				style="display: none; position: absolute; z-index: 200;">
				<ul id="treeDemo" class="ztree tree-box" style="width: 249px !important;"></ul>
			</div>

			<div class="row btn-group-m-t">
				<div class="col-sm-10">
					<button class="btn btn-info" id="ensure" onclick="UserInfoDlg.editSubmit()"/><i class="fa fa-check"></i>&nbsp;提交</button>
					<button class="btn btn-danger" id="cancel" onclick="UserInfoDlg.close()"><i class="fa fa-eraser"></i>&nbsp;取消</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/public/modular/system/user/user_info.js"></script>
{{ end }}
