{{ define "system/notice/notice_add.html" }}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="noticeInfoForm">
            <input type="hidden" id="id" value="">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group has-feedback">
                        <label class="col-sm-1 control-label">标题</label>
                        <div class="col-sm-11">
                            <input class="form-control" id="title" name="title" type="text" data-bv-field="title">
                            <i class="form-control-feedback" data-bv-icon-for="title" style="display: none;"></i>
                            <small class="help-block" data-bv-validator="notEmpty" data-bv-for="title" data-bv-result="NOT_VALIDATED" style="display: none;">标题不能为空</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">内容</label>
                        <div class="col-sm-11">
                            <div id="editor" class="editorHeight">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <button type="button" class="btn btn-info " onclick="NoticeInfoDlg.addSubmit()" id="ensure">
                        <i class="fa fa-check"></i>&nbsp;提交
                    </button>
                    <button type="button" class="btn btn-danger " onclick="NoticeInfoDlg.close()" id="cancel">
                        <i class="fa fa-eraser"></i>&nbsp;取消
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
<script src="/public/modular/system/notice/notice_info.js"></script> {{ end }}