{{ define "system/dept/dept.html" }}
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>部门管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">名称
                                        </button>
                                    </div>
                                    <input type="text" class="form-control" id="condition" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-primary " onclick="Dept.search()" id="">
                                    <i class="fa fa-search"></i>&nbsp;搜索
                                </button>
                            </div>
                        </div>
                        <div class="bs-bars pull-left" style="margin: 10px;">
                            <button type="button" class="btn btn-primary " onclick="Dept.openAddDept()" id="">
                                <i class="fa fa-plus"></i>&nbsp;添加
                            </button>
                            <button type="button" class="btn btn-info button-margin" onclick="Dept.openDeptDetail()" id="">
                                <i class="fa fa-edit"></i>&nbsp;修改
                            </button>
                            <button type="button" class="btn btn-danger button-margin" onclick="Dept.delete()" id="">
                                <i class="fa fa-remove"></i>&nbsp;删除
                            </button>
                        </div>
                        <table id="DeptTable" data-mobile-responsive="true" data-click-to-select="true" class="table table-hover treegrid-table table-bordered table-striped">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/public/modular/system/dept/dept.js"></script> {{ end }}